# importing libraries

In [3]:
#import libraries
import pandas as pd
import numpy as np
import os

In [4]:
#import data frame 
df_prods=pd.read_csv(r'/Users/lordsonobire/Documents/Data Immersion/Achievement 4/Instacart Basket Analysis/02 Data/Original Data/products.csv', index_col=False)

In [5]:
#import data frame orders from prepared folder 
df_ords=pd.read_csv(r'/Users/lordsonobire/Documents/Data Immersion/Achievement 4/Instacart Basket Analysis/02 Data/Prepared Data/orders_wrangled.csv', index_col=False)

In [6]:
#create a dataframe 
df_test=pd.DataFrame()

In [7]:
#create a mixed data type
df_test['mix'] =[ 'a', 'b', 1, True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [85]:
#check for mixed types
for col in df_test.columns.tolist():
    weird=(df_test[[col]].map(type)!=df_test[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_test[weird])>0:
        print (col)

In [10]:
#assigning a data type 
df_test['mix'] = df_test['mix'].astype('str')

In [11]:
#checking for missing value
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [12]:
#create a new subset to see the null values 
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [13]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [14]:
df_prods.shape

(49693, 5)

In [15]:
#create new data frame without the null entries
df_prods_clean=df_prods[df_prods['product_name'].isnull()==False]

In [16]:
df_prods_clean.shape

(49677, 5)

In [17]:
#checks for duplicates
df_dups=df_prods_clean[df_prods_clean.duplicated()]

In [18]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [19]:
df_prods_clean.shape

(49677, 5)

In [20]:
#droping/deleting duplicates
df_prods_clean_no_dups=df_prods_clean.drop_duplicates()

In [21]:
df_prods_clean_no_dups.shape

(49672, 5)

In [22]:
#exporting file
df_prods_clean_no_dups.to_csv('/Users/lordsonobire/Documents/Data Immersion/Achievement 4/Instacart Basket Analysis/02 Data/Prepared Data/Products_checked.csv')

# Data consistency checks Orders Table

In [45]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [47]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [53]:
print(df_ords.columns)

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [59]:
#drops the unnamed column
df_ords = df_ords.drop('Unnamed: 0', axis=1, errors='ignore')

In [57]:
print(df_ords.columns)

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [61]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# #Order_number :has a min = 1 and a Max = 100 , this is pointing to customers having a minimum order of 1 and max of 100 incase of a frequent shopper.
# #Orders_day_of_week : min= 0 and Max = 6 , looks reasonable indicating days of the week(e.g., 0=sunday, 6=Saturday.
# #Order_hour_of_day :Range looks reasonable with a min=0 and max =23 , it covers all 24 hours of the day.
# #days_since_prior_order : it has a max of 30 suggest the system may have a cap for tracking days since last order, worth confirming whether it is expected behavior or if it indicates missing data beyond 30 days, the min=0 seems okay as customers who placed orders on consecutive days. I also observed it has a lesser count than the orders , this may be an indicator for missing data.

In [65]:
#checking if days_since_prior_order contains missing data
missing_days=df_ords['days_since_prior_order'].isnull().sum()

In [67]:
missing_days

206209

In [71]:
#creating a new subset from Orders data frame excluding the missing entries from day_since_prior_order
df_ords_clean=df_ords[df_ords['days_since_prior_order'].isnull()==False]

In [73]:
df_ords_clean.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06
mean,1.710675e+06,1.029701e+05,1.819107e+01,2.777637e+00,1.344082e+01,1.111484e+01
std,9.875466e+05,5.953411e+04,1.779950e+01,2.044923e+00,4.225992e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.555472e+05,5.138500e+04,6.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710834e+06,1.026620e+05,1.200000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565905e+06,1.543720e+05,2.500000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [87]:
#checking for mixed data types 
for col in df_ords_clean.columns.tolist():
  weird = (df_ords_clean[[col]].map(type) != df_ords_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_clean[weird]) > 0:
    print (col)

In [89]:
df_ords_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3214874 entries, 1 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 171.7 MB

In [91]:
#checking for duplicates
df_ords_dups = df_ords_clean[df_ords_clean.duplicated()]

In [93]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

# there are no duplicates

In [96]:
#there are no duplicates so it returned no values , If there was i would use the .drop_duplicates() function.

In [100]:
#exported Cleaned orders data frame
df_ords_clean.to_csv('/Users/lordsonobire/Documents/Data Immersion/Achievement 4/Instacart Basket Analysis/02 Data/Prepared Data/Orders_checked.csv')